node_modules
dados
dados_cache*
models
model-test*
logs

# Python
*.pyc

# Python - Windowns
build/config.gypi
Lib
Scripts
pyvenv.cfg

# Python - Linux
bin
lib
lib64
share
include
.vscode/settings.json
*.js
dist/